<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="title">
    <meta property="og:description" content="My Personal Portfolio">
    <meta property="og:url" content="{{ url }}">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">

    <link lang='sass' rel="stylesheet" href="./static/styles/main.css">
    <link rel='icon' href='./static/img/favicon.ico' type='image/x-icon' />
    <title>{{ title }}</title>
</head>

<body>
    {% extends "base.html" %}

    {% block content %}
    <div class="travel-container">
        <h1>Places I've Visited</h1>
    
        <div id="map" 
            data-locations='{{ locations | tojson | safe }}' 
            style="height: 500px; width: 100%;">
        </div>
    
        <div class="location-list">
            <h3>My Travels:</h3>
            <ul>
                {% for location in locations %}
                <li>{{ location.name }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    
    <script src="{{ url_for('static', filename='js/map.js') }}"></script>
    {% endblock %}
</body>

</html>